{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-around mt-5">
        {% for diet in object_list %}
        <div class="col-md-4 col-lg-3 text-center">
            <div class="border rounded m-2 p-2 shadow-sm bg-light">
                <a href="{% url 'update_diet' diet.id %}">
                    <h5>{{ diet }} - id: {{ diet.id }}</h5>
                </a>
                <h6>
                    Type : {{ diet.get_diet_type_display }}
                </h6>
                <span>
                    Created :{{ diet.created_on }}
                </span>
                <br>
                <span>
                    Start Time : {{ diet.start_time }}
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-auto">
            <a href="{% url 'create_diet' %}">Create Diet</a>
        </div>
    </div>
    
</div>

{% endblock content %}